.edit-forms {
    display: flex;
    margin: 5px;
    padding: 7px;
    .editPlaces{
        justify-content: left;
        width: 150px;
        border: 1px solid black;
        float: left;
        text-align: center;
        margin: 5px;
        background-color: rgb(215, 236, 233);
        .btnEdit{
            bottom: 0;
            width: 90%;
            margin: 5px;
        
     
    

    .input-info {
        text-align: center;
        width: 600px;
        
    }
}
}


}