<br>
<div class="registration">
  
<h3>Registration:</h3>
<form>
  <div class="mb-3">
    <label class="form-label">First name:</label>
    <input type="text" class="form-control" [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="mb-3">
    <label class="form-label">Last name:</label>
    <input type="text" class="form-control" [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}"> 
  </div>
  <div class="mb-3">
    <label class="form-label">Username:</label>
    <input type="text" class="form-control" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}">
  </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}"></div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}"> 
    </div>
    <button type="submit" class="btn btn-outline-primary" (click)="login()">Login</button>
    <button type="submit" class="btn btn-outline-success" (click)="saveUser()">Save</button> 
    
  </form>
  <br>
  <div *ngIf="alert" class="alert alert-success" role="alert">
    Success registration!
  </div>

</div>
