#divInput {
    display: flex;
    margin: 5px;
    padding: 7px;
    background-color: rgb(182, 233, 235);
.showHotels{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    float: left;
    text-align: center;
    margin: 5px;

}

}