.login{
    width: 800px;
    margin: auto;
    padding: 10px;
    background-color: rgb(204, 230, 228);
    opacity: .8;
    border-radius: 30px;
    text-align: center;
    .btn{
        width: 100%;
        margin: 5px;
    }
    
}