.aboutDest {
    width: 900px;
    height: 100%;
    border: 1px solid rgb(121, 121, 241);
    text-align: center;
    margin: auto;
    padding: 10px;
    background-color: rgb(159, 224, 210);
    border: none;
    border-radius: 20px;
    .image {
        width: 300px;
        height: 200px;
        margin: 6px;
        &:hover {
            cursor: pointer;
            width:500px;
            height:300px;
            box-shadow: -1px 1px 30px 10px rgba(88,139,233,0.75);
-webkit-box-shadow: -1px 1px 30px 10px rgba(88,139,233,0.75);
-moz-box-shadow: -1px 1px 30px 10px rgba(88,139,233,0.75);
             .hotels {
                left: 0;
            }
        }
    }
}

.btnTravel{
    background-color: rgb(89, 151, 156);
    width: 50%;
    border-radius:30px;
    border:none;
}